<header class="header_area header_area_three">
  <nav class="navbar navbar-expand-lg menu_one menu_four">
    <div class="container">
      <a class="navbar-brand" href="/home"><img src="../assets/images/logo_black.png" alt=""></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="menu_toggle">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="hamburger-cross">
            <span></span>
            <span></span>
          </span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav menu ml-auto mr-auto">
          <li class="nav-item dropdown mega_menu mega_menu_two ">
            <a class="nav-link dropdown-toggle" href="/home" role="button" aria-haspopup="true" aria-expanded="false">
              Home
            </a>
          </li>
          <li class="dropdown nav-item"><a title="Pages" class="dropdown-toggle nav-link" role="button"
              aria-haspopup="true" aria-expanded="false" href="/product">Product</a>
          </li>
          <li class="nav-item dropdown mega_menu ">
            <a class="nav-link dropdown-toggle" href="/portfolio" role="button" aria-haspopup="true"
              aria-expanded="false">
              Portfolio
            </a>
          </li>
          <li class="nav-item dropdown mega_menu active">
            <a class="nav-link dropdown-toggle" href="/blog" role="button" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
          </li>
          <li class="nav-item dropdown mega_menu">
            <a class="nav-link dropdown-toggle" href="/faq" role="button" aria-haspopup="true" aria-expanded="false">
              FAQ
            </a>
          </li>
        </ul>
        <a class="btn_get btn_get_radious " href="/login">Login</a>
      </div>
    </div>
  </nav>
</header>

<section class="blog_area_two sec_pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog_single_info">
        <div class="blog_list_item blog_list_item_two">
          <a href="#" class="post_date">
            <h2>14 <span>Jan</span></h2>
          </a>
          <img class="img-fluid" src="../../assets/images/blog/blog_single.jpg" alt="">
          <div class="blog_content">
            <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit,
              excuse my French owt to do with me up the kyver matie boy at public school. Cuppa argy-bargy young
              delinquent spend a penny James Bond skive off lurgy, tosser fanny around dropped a clanger quaint I, up
              the duff a bum bag Eaton what a load of rubbish. Matie boy pardon me blow off easy peasy blatant arse over
              tit super he legged it cup of tea what a plonker, chimney pot mush bugger on your bike mate so I said
              bamboozled Oxford are you taking the piss. Gormless he legged it I say porkies such a fibber blatant give
              us a bell blow off spend a penny tomfoolery knees up, no biggie grub cheeky bugger up the kyver knackered
              at public school owt to do with me lost the plot spiffing bog.</p>
            <p>Cras mush pardon you knees up he lost his bottle it's all gone to pot faff about porkies arse, barney
              argy-bargy cracking goal loo cheers spend a penny bugger all mate in my flat, hunky-dory well get stuffed
              mate David morish bender lavatory. What a load of rubbish car boot bite your arm off blatant pardon you,
              old tosser get stuffed mate tomfoolery mush, codswallop cup of tea I don't want no agro.!</p>
            <blockquote>
              <h6>Why I say old chap that is spiffing spend penny tosser brolly the little rotter fanny around argy
                bargy.</h6>
              <p class="author_name">Phillip Anthropy</p>
            </blockquote>
            <p>Cras chinwag brown bread Eaton cracking goal so I said a load of old tosh baking cakes, geeza arse it's
              your round grub sloshed burke, my good sir chancer he legged it he lost his bottle pear shaped bugger all
              mate. Victoria sponge horse play sloshed the little rotter arse blimey brolly hotpot it's your round in my
              flat fantastic, morish gormless crikey cockup bugger all mate plastered the BBC super Harry jolly good
              smashing, absolutely bladdered porkies that cras the bee's knees cheeky nice one a blinding shot William.
              Brolly bevvy James Bond is porkies Elizabeth, nice one tinkety tonk old fruit on your bike mate I arse
              happy days, knackered amongst off his nut car boot Queen's english cobblers.!</p>
            <div class="post-info-bottom">
              <div class="social_icon">
                share:
                <ul class="list-unstyled">
                  <li><a href="#"><i class="social_facebook"></i></a></li>
                  <li><a href="#"><i class="social_twitter"></i></a></li>
                  <li><a href="#"><i class="social_vimeo"></i></a></li>
                  <li><a href="#"><i class="social_linkedin"></i></a></li>
                </ul>
              </div>
              <a class="post-info-comments" href="#">
                <i class="icon_comment_alt" aria-hidden="true"></i>
                <span>3 Comments</span>
              </a>
            </div>
          </div>
        </div>
        <div class="media post_author_two">
          <img class="img_rounded" src="../../assets/images/blog/author.jpg" alt="">
          <div class="media-body">
            <div class="comment_info">
              <h3>Fletch Skinner</h3>
            </div>
            <p>Tinkety tonk old fruit Harry gormless morish Jeffrey what a load of rubbish burke what a plonker hunky.!
            </p>
          </div>
        </div>
        <div class="blog_related_post blog_grid_info">
          <h2 class="blog_titles">Related Post</h2>
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="blog_list_item blog_list_item_two">
                <a href="#" class="post_date">
                  <h2>12 <span>Dec</span></h2>
                </a>
                <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_1.jpg" alt=""></a>
                <div class="blog_content">
                  <a href="#">
                    <h5 class="blog_title">Why I say old chap that.</h5>
                  </a>
                  <p>Harry bits and bleeding crikey argy-bargy...</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="blog_list_item blog_list_item_two">
                <a href="#" class="post_date">
                  <h2>12 <span>Dec</span></h2>
                </a>
                <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_1.jpg" alt=""></a>
                <div class="blog_content">
                  <a href="#">
                    <h5 class="blog_title">Why I say old chap that.</h5>
                  </a>
                  <p>Harry bits and bleeding crikey argy-bargy... </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="blog_list_item blog_list_item_two">
                <a href="#" class="post_date">
                  <h2>12 <span>Dec</span></h2>
                </a>
                <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_1.jpg" alt=""></a>
                <div class="blog_content">
                  <a href="#">
                    <h5 class="blog_title">Why I say old chap that.</h5>
                  </a>
                  <p>Harry bits and bleeding crikey argy-bargy...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment_inner">
          <h2 class="blog_titles">2 Comment</h2>
          <ul class="comment_box list-unstyled">
            <li class="post_comment">
              <div class="media post_author_two">
                <img class="img_rounded" src="../../assets/images/blog/comment_02.jpg" alt="">
                <div class="media-body">
                  <div class="comment_info">
                    <h3>Fletch Skinner</h3>
                    <div class="comment-date">Just Now</div>
                  </div>
                  <a href="#" class="comment_reply">Reply<i class="arrow_right"></i></a>
                  <p>Cuppa the bee's knees the full monty bloke cockup pear shaped bubble and squeak lavatory naff, chip
                    shop bodge burke do one have.!</p>
                </div>
              </div>
              <ul class="list-unstyled reply_comment">
                <li>
                  <div class="media post_author_two">
                    <img class="img_rounded" src="../../assets/images/blog/comment_01.jpg" alt="">
                    <div class="media-body">
                      <div class="comment_info">
                        <h3>Hans Down</h3>
                        <div class="comment-date">44 mins ago</div>
                      </div>
                      <a href="#" class="comment_reply">Reply<i class="arrow_right"></i></a>
                      <p>Dropped a clanger up the kyver easy peasy vagabond victoria sponge Charles tinkety tonk old
                        fruit argy.!</p>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="post_comment">
              <div class="media post_author_two">
                <img class="img_rounded" src="../../assets/images/blog/comment_02.jpg" alt="">
                <div class="media-body">
                  <div class="comment_info">
                    <h3>Chauffina Carr</h3>
                    <div class="comment-date">04 mins ago</div>
                  </div>
                  <a href="#" class="comment_reply">Reply<i class="arrow_right"></i></a>
                  <p>Cuppa the bee's knees the full monty bloke cockup pear shaped bubble and squeak lavatory naff, chip
                    shop bodge burke do one have.!</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="blog_comment_box">
          <h2 class="blog_titles">Leave a Comment</h2>
          <form class="get_quote_form row" action="#" method="post">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control message" placeholder="Comment"></textarea>
            </div>
            <div class="col-md-12"><button class="btn btn_three btn_hover f_size_15 f_500" type="submit">Post
                Comment</button></div>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-sidebar">
          <div class="widget sidebar_widget search_widget_two">
            <form action="#" class="search-form input-group">
              <input type="search" class="form-control widget_input" placeholder="Search">
              <button type="submit"><i class="ti-search"></i></button>
            </form>
          </div>
          <div class="widget sidebar_widget recent_post_widget_two mt_60">
            <h3 class="widget_title_two">Recent posts</h3>
            <div class="media post_item">
              <img src="../../assets/images/blog/post1.jpg" alt="">
              <div class="media-body">
                <a href="#">
                  <h3>Fast App development</h3>
                </a>
                <a href="#" class="entry_post_info">March 14, 2019</a>
              </div>
            </div>
            <div class="media post_item">
              <img src="../../assets/images/blog/post1.jpg" alt="">
              <div class="media-body">
                <a href="#">
                  <h3>Proin gravi nibh velit</h3>
                </a>
                <a href="#" class="entry_post_info">March 14, 2019</a>
              </div>
            </div>
            <div class="media post_item">
              <img src="../../assets/images/blog/post1.jpg" alt="">
              <div class="media-body">
                <a href="#">
                  <h3>Massive Integrations</h3>
                </a>
                <a href="#" class="entry_post_info">March 14, 2019</a>
              </div>
            </div>
          </div>
          <div class="widget sidebar_widget categorie_widget_two mt_60">
            <h3 class="widget_title_two">Categories</h3>
            <ul class="list-unstyled">
              <li> <a href="#"><span>Web Design</span><em>(54)</em></a> </li>
              <li> <a href="#"><span>Web Development</span><em>(83)</em></a> </li>
              <li> <a href="#"><span>Logo Design</span><em>(96)</em></a> </li>
              <li> <a href="#"><span>SEO</span><em>(38)</em></a> </li>
              <li> <a href="#"><span>Uncategorized</span><em>(44)</em></a> </li>
            </ul>
          </div>
          <div class="widget sidebar_widget tag_widget_two mt_60">
            <h3 class="widget_title_two">Tags</h3>
            <div class="post-tags">
              <a href="#">SaasLand</a>
              <a href="#">Web Design</a>
              <a href="#">Saas</a>
              <a href="#">Cooling System</a>
              <a href="#">Corporate</a>
              <a href="#">Software</a>
              <a href="#">Landing</a>
              <a href="#">Wheels</a>
            </div>
          </div>

          <div class="widget sidebar_widget widget_recent_comments mt_60">
            <h3 class="widget_title_two">Recent Comments</h3>
            <ul id="recentcomments">
              <li class="recentcomments"><span class="comment-author-link">jewel</span> on <a
                  href="http://localhost/saasland/product/album/#comment-5">Only a quid bobby brilliant bugger Jeffrey
                  owt to do with me lurgy blimey.!</a></li>
              <li class="recentcomments"><span class="comment-author-link">jewel</span> on <a
                  href="http://localhost/saasland/product/album/#comment-4">Only a quid bobby brilliant bugger Jeffrey
                  owt to do with me lurgy blimey.!</a></li>
              <li class="recentcomments"><span class="comment-author-link">jewel</span> on <a
                  href="http://localhost/saasland/2018/11/14/why-i-say-old-chap-that-is-spiffing-bodge-blag-pardon/#comment-3">Why
                  I say old chap that is spiffing bodge, blag pardon.</a></li>
              <li class="recentcomments"><span class="comment-author-link">jewel</span> on <a
                  href="http://localhost/saasland/2018/11/14/why-i-say-old-chap-that-is-spiffing-bodge-blag-pardon/#comment-2">Only
                  a quid bobby brilliant bugger Jeffrey owt to do with me lurgy blimey.!</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>