<section
  class="uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay  menu-height2">
  <div>
    <img src="../assets/images/slide/img_bg_5.jpg" alt="">
  </div>
</section>

<section class="address section">
  <div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
    <h3 class="uk-h3 animated section_title address_title">Contacts</h3>
    <h4 class="uk-h4 animated uk-margin-large-bottom section_subtitle">If you require any further information, feel free
      to contact us</h4>
    <div class="uk-grid uk-grid-large address_wrapper">
      <div class="uk-width-medium-1-3 animated">
        <div class="uk-margin-large-bottom address_item">
          <div class="uk-icon-map-marker address_label"></div>
          <h4 class="address_title">Office location</h4>
          <div class="address_text">7901 W 79th St, <br>Playa Del Rey, CA 90293</div>
        </div>
      </div>
      <div class="uk-width-medium-1-3 animated">
        <div class="uk-margin-large-bottom address_item">
          <div class="uk-icon-phone address_label"></div>
          <h4 class="address_title">Call us</h4>
          <div class="address_text">t. 1-234-567-890<br>m. 1-234-567-891</div>
        </div>
      </div>
      <div class="uk-width-medium-1-3 animated">
        <div class="uk-margin-large-bottom address_item">
          <div class="uk-icon-envelope-o address_label"></div>
          <h4 class="address_title">Email address</h4>
          <div class="address_text">info@yoursite.com<br>support@yoursite.com</div>
        </div>
      </div>
    </div>
  </div>
</section>