<header class="header_area header_area_three">
  <nav class="navbar navbar-expand-lg menu_one menu_four">
    <div class="container">
      <a class="navbar-brand" href="/home"><img src="../assets/images/logo_black.png" alt=""></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="menu_toggle">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="hamburger-cross">
            <span></span>
            <span></span>
          </span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav menu ml-auto mr-auto">
          <li class="nav-item dropdown submenu mega_menu mega_menu_two ">
            <a class="nav-link dropdown-toggle" href="/home" role="button" aria-haspopup="true" aria-expanded="false">
              Home
            </a>
          </li>
          <li class="dropdown submenu nav-item active"><a title="Pages" class="dropdown-toggle nav-link" role="button"
              aria-haspopup="true" aria-expanded="false" href="/product">Product</a>
          </li>
          <li class="nav-item dropdown submenu mega_menu">
            <a class="nav-link dropdown-toggle" href="/portfolio" role="button" aria-haspopup="true"
              aria-expanded="false">
              Portfolio
            </a>
          </li>
          <li class="nav-item dropdown submenu mega_menu">
            <a class="nav-link dropdown-toggle" href="/blog" role="button" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
          </li>
          <li class="nav-item dropdown submenu mega_menu">
            <a class="nav-link dropdown-toggle" href="/faq" role="button" aria-haspopup="true" aria-expanded="false">
              FAQ
            </a>
          </li>
        </ul>
        <a class="btn_get btn_get_radious " href="/login">Login</a>
      </div>
    </div>
  </nav>
</header>

<section class="shop_list_area sec_pad">
  <div class="container">
    <div class="row shop_list_item">
      <div class="col-md-5">
        <div class="shop_list_img">
          <img class="img-fluid" src="../../assets/images/blog/blog_grid_1.jpg" alt="">
        </div>
      </div>
      <div class="col-md-7 single_product_item mt-0">
        <div class="single_pr_details text-left">
          <a href="#" class="s_list_title">
            <h3 class="f_p f_500 f_size_22">Logo Design</h3>
          </a>
          <div class="ratting">
            <a href="#"></a>
          </div>
          <div class="price">
            <del><span class="woocommerce-Price-amount amount"><span
                  class="woocommerce-Price-currencySymbol">$</span>18.00</span></del>
            <ins><span class="woocommerce-Price-amount amount"><span
                  class="woocommerce-Price-currencySymbol">$</span>16.00</span></ins>
          </div>

          <p class="f_p f_400 f_size_15 mt_30 mb_50">The full monty brilliant young delinquent burke naff baking cakes
            the wireless argy-bargy smashing, squiffy chimney pot I he nicked it twit brolly spend a penny he legged it,
            cup of tea is ruddy grub bugger the bee's knees.!</p>
          <div class="pr_button">
            <button type="submit" name="add-to-cart" value="641" class="cart_btn">Order Now</button>
            <a href="#"><i class="ti-heart"></i></a>
            <a href="#"><i class="ti-eye"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row shop_list_item">
      <div class="col-md-5">
        <div class="shop_list_img">
          <img class="img-fluid" src="../../assets/images/blog/blog_grid_2.jpg" alt="">
        </div>
      </div>
      <div class="col-md-7 single_product_item mt-0">
        <div class="single_pr_details text-left">
          <a href="#" class="s_list_title">
            <h3 class="f_p f_500 f_size_22">Web Design</h3>
          </a>
          <div class="ratting">
            <a href="#"></a>
          </div>
          <div class="price">
            <del><span class="woocommerce-Price-amount amount"><span
                  class="woocommerce-Price-currencySymbol">$</span>18.00</span></del>
            <ins><span class="woocommerce-Price-amount amount"><span
                  class="woocommerce-Price-currencySymbol">$</span>16.00</span></ins>
          </div>

          <p class="f_p f_400 f_size_15 mt_30 mb_50">The full monty brilliant young delinquent burke naff baking cakes
            the wireless argy-bargy smashing, squiffy chimney pot I he nicked it twit brolly spend a penny he legged it,
            cup of tea is ruddy grub bugger the bee's knees.!</p>
          <div class="pr_button">
            <button type="submit" name="add-to-cart" value="641" class="cart_btn">Order Now </button>
            <a href="#"><i class="ti-heart"></i></a>
            <a href="#"><i class="ti-eye"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row shop_list_item">
      <div class="col-md-5">
        <div class="shop_list_img">
          <img class="img-fluid" src="../../assets/images/blog/blog_grid_3.jpg" alt="">
        </div>
      </div>
      <div class="col-md-7 single_product_item mt-0">
        <div class="single_pr_details text-left">
          <a href="#" class="s_list_title">
            <h3 class="f_p f_500 f_size_22">Web Development</h3>
          </a>
          <div class="ratting">
            <a href="#"></a>
          </div>
          <div class="price">
            <del><span class="woocommerce-Price-amount amount"><span
                  class="woocommerce-Price-currencySymbol">$</span>18.00</span></del>
            <ins><span class="woocommerce-Price-amount amount"><span
                  class="woocommerce-Price-currencySymbol">$</span>16.00</span></ins>
          </div>

          <p class="f_p f_400 f_size_15 mt_30 mb_50">The full monty brilliant young delinquent burke naff baking cakes
            the wireless argy-bargy smashing, squiffy chimney pot I he nicked it twit brolly spend a penny he legged it,
            cup of tea is ruddy grub bugger the bee's knees.!</p>
          <div class="pr_button">
            <button type="submit" name="add-to-cart" value="641" class="cart_btn">Order Now</button>
            <a href="#"><i class="ti-heart"></i></a>
            <a href="#"><i class="ti-eye"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row shop_list_item">
      <div class="col-md-5">
        <div class="shop_list_img">
          <img class="img-fluid" src="../../assets/images/blog/blog_grid_4.jpg" alt="">
        </div>
      </div>
      <div class="col-md-7 single_product_item mt-0">
        <div class="single_pr_details text-left">
          <a href="#" class="s_list_title">
            <h3 class="f_p f_500 f_size_22">SEO</h3>
          </a>
          <div class="ratting">
            <a href="#"></a>
          </div>
          <div class="price">
            <del><span class="woocommerce-Price-amount amount"><span
                  class="woocommerce-Price-currencySymbol">$</span>18.00</span></del>
            <ins><span class="woocommerce-Price-amount amount"><span
                  class="woocommerce-Price-currencySymbol">$</span>16.00</span></ins>
          </div>

          <p class="f_p f_400 f_size_15 mt_30 mb_50">The full monty brilliant young delinquent burke naff baking cakes
            the wireless argy-bargy smashing, squiffy chimney pot I he nicked it twit brolly spend a penny he legged it,
            cup of tea is ruddy grub bugger the bee's knees.!</p>
          <div class="pr_button">
            <button type="submit" name="add-to-cart" value="641" class="cart_btn">Order Now</button>
            <a href="#"><i class="ti-heart"></i></a>
            <a href="#"><i class="ti-eye"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <ul class="list-unstyled page-numbers shop_page_number">
        <li><span aria-current="page" class="page-numbers current">1</span></li>
        <li><a class="page-numbers" href="#">2</a></li>
        <li><a class="next page-numbers" href="#"><i class="ti-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</section>