<header class="uk-small-hidden header2">
    <nav class="uk-navbar header-nav">
        <div class="uk-container uk-container-center">
            <a class="uk-navbar-brand logo_link" href="/home">
                <img class="uk-responsive-height logo white" src="../assets/images/logo_white.png" alt="">
            </a>
            <div class="uk-navbar-flip uk-visible-large">
                <ul class="uk-navbar-nav header-nav-list">
                    <li class="header_nav_list_item">
                        <a routerLinkActive="active" class="link_features header_nav_list_item_link"
                            href="/home">Home</a>
                    </li>
                    <li class="header_nav_list_item">
                        <a routerLinkActive="active" class="link_offer header_nav_list_item_link active"
                            href="/product">Product</a>
                    </li>
                    <li class="header_nav_list_item">
                        <a routerLinkActive="active" class="link_pricing header_nav_list_item_link"
                            href="/portfolio">Portfolio</a>
                    </li>
                    <li class="header_nav_list_item">
                        <a class="link_customers header_nav_list_item_link" routerLink="/login"
                            routerLinkActive="active">
                            <div class="uk-button uk-border-rounded green_button container_button_message round-button">
                                Login
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
                <div data-ng-click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile"></div>
            </div>
        </div>
    </nav>
</header>

<section class="section product">
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 ">
            <div class="card">
                <div class="card-head">
                    <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                    <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                    <div class="product-detail">
                        <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive
                        feel with
                        high-speed responsiveness
                    </div>
                    <span class="back-text">
                        BEMICS
                    </span>
                </div>
                <div class="card-body">
                    <div class="product-desc">
                        <span class="product-title">
                            Hartbee<b>spoort</b>
                            <span class="badge">
                                New
                            </span>
                        </span>
                        <span class="product-caption">
                            Basket Ball Collection
                        </span>
                        <span class="product-rating">
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star grey"></i>
                        </span>
                    </div>
                    <div class="product-properties">
                        <span class="product-color">
                            <ul class="ul-color">
                                <li><a href="#" class="orange active"></a></li>
                                <li><a href="#" class="green"></a></li>
                                <li><a href="#" class="yellow"></a></li>
                            </ul>
                        </span>
                        <span class="product-price">
                            USD<b>23,453</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 ">
            <div class="card">
                <div class="card-head">
                    <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                    <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                    <div class="product-detail">
                        <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive
                        feel with
                        high-speed responsiveness
                    </div>
                    <span class="back-text">
                        BEMICS
                    </span>
                </div>
                <div class="card-body">
                    <div class="product-desc">
                        <span class="product-title">
                            Hartbee<b>spoort</b>
                            <span class="badge">
                                New
                            </span>
                        </span>
                        <span class="product-caption">
                            Basket Ball Collection
                        </span>
                        <span class="product-rating">
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star grey"></i>
                        </span>
                    </div>
                    <div class="product-properties">
                        <span class="product-color">
                            <ul class="ul-color">
                                <li><a href="#" class="orange active"></a></li>
                                <li><a href="#" class="green"></a></li>
                                <li><a href="#" class="yellow"></a></li>
                            </ul>
                        </span>
                        <span class="product-price">
                            USD<b>23,453</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 ">
            <div class="card">
                <div class="card-head">
                    <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                    <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                    <div class="product-detail">
                        <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive
                        feel with
                        high-speed responsiveness
                    </div>
                    <span class="back-text">
                        BEMICS
                    </span>
                </div>
                <div class="card-body">
                    <div class="product-desc">
                        <span class="product-title">
                            Hartbee<b>spoort</b>
                            <span class="badge">
                                New
                            </span>
                        </span>
                        <span class="product-caption">
                            Basket Ball Collection
                        </span>
                        <span class="product-rating">
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star grey"></i>
                        </span>
                    </div>
                    <div class="product-properties">
                        <span class="product-color">
                            <ul class="ul-color">
                                <li><a href="#" class="orange active"></a></li>
                                <li><a href="#" class="green"></a></li>
                                <li><a href="#" class="yellow"></a></li>
                            </ul>
                        </span>
                        <span class="product-price">
                            USD<b>23,453</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 ">
            <div class="card">
                <div class="card-head">
                    <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                    <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                    <div class="product-detail">
                        <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive
                        feel with
                        high-speed responsiveness
                    </div>
                    <span class="back-text">
                        BEMICS
                    </span>
                </div>
                <div class="card-body">
                    <div class="product-desc">
                        <span class="product-title">
                            Hartbee<b>spoort</b>
                            <span class="badge">
                                New
                            </span>
                        </span>
                        <span class="product-caption">
                            Basket Ball Collection
                        </span>
                        <span class="product-rating">
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star grey"></i>
                        </span>
                    </div>
                    <div class="product-properties">
                        <span class="product-color">
                            <ul class="ul-color">
                                <li><a href="#" class="orange active"></a></li>
                                <li><a href="#" class="green"></a></li>
                                <li><a href="#" class="yellow"></a></li>
                            </ul>
                        </span>
                        <span class="product-price">
                            USD<b>23,453</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 ">
            <div class="card">
                <div class="card-head">
                    <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                    <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                    <div class="product-detail">
                        <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive
                        feel with
                        high-speed responsiveness
                    </div>
                    <span class="back-text">
                        BEMICS
                    </span>
                </div>
                <div class="card-body">
                    <div class="product-desc">
                        <span class="product-title">
                            Hartbee<b>spoort</b>
                            <span class="badge">
                                New
                            </span>
                        </span>
                        <span class="product-caption">
                            Basket Ball Collection
                        </span>
                        <span class="product-rating">
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star grey"></i>
                        </span>
                    </div>
                    <div class="product-properties">
                        <span class="product-color">
                            <ul class="ul-color">
                                <li><a href="#" class="orange active"></a></li>
                                <li><a href="#" class="green"></a></li>
                                <li><a href="#" class="yellow"></a></li>
                            </ul>
                        </span>
                        <span class="product-price">
                            USD<b>23,453</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 ">
            <div class="card">
                <div class="card-head">
                    <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                    <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                    <div class="product-detail">
                        <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive
                        feel with
                        high-speed responsiveness
                    </div>
                    <span class="back-text">
                        BEMICS
                    </span>
                </div>
                <div class="card-body">
                    <div class="product-desc">
                        <span class="product-title">
                            Hartbee<b>spoort</b>
                            <span class="badge">
                                New
                            </span>
                        </span>
                        <span class="product-caption">
                            Basket Ball Collection
                        </span>
                        <span class="product-rating">
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star"></i>
                            <i class="uk-icon-star grey"></i>
                        </span>
                    </div>
                    <div class="product-properties">
                        <span class="product-color">
                            <ul class="ul-color">
                                <li><a href="#" class="orange active"></a></li>
                                <li><a href="#" class="green"></a></li>
                                <li><a href="#" class="yellow"></a></li>
                            </ul>
                        </span>
                        <span class="product-price">
                            USD<b>23,453</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>