<div class="uk-height-viewport">
  <section
    class="uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay  menu-height2">
    <div>
      <img src="../../assets/images/slide/img_bg_5.jpg" alt="">
    </div>
  </section>

  <section class="container login">
    <div class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">
      <div class="login-container container_block">
        <div id="output"></div>
        <div class="avatar"><img src="../../assets/images/icon.svg " width="70"></div>
        <div class="form-box ">
          <form action="" method="">
            <input name="email" type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <div class="uk-width-small-1-1 uk-margin-bottom uk-margin-top">
              <button class="uk-width-1-1 uk-button button_custom_orange form_button" type="submit">Login</button>
              <a class="login-text" routerLink="/register">sign up</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>