<header class="header_area">
  <nav class="navbar navbar-expand-lg menu_seven">
    <div class="container">
      <a class="navbar-brand sticky_logo" href="/home"><img src="../assets/images/logo_white.png" alt="logo"><img
          src="../assets/images/logo_black.png" alt=""></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="menu_toggle">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="hamburger-cross">
            <span></span>
            <span></span>
          </span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav menu pl_120 mr-auto ml-auto">
          <li class="nav-item dropdown mega_menu mega_menu_two active">
            <a class="nav-link dropdown-toggle" href="/home" role="button" aria-haspopup="true" aria-expanded="false">
              Home
            </a>
          </li>
          <li class="dropdown nav-item"><a title="Pages" class="dropdown-toggle nav-link" role="button"
              aria-haspopup="true" aria-expanded="false" href="/product">Product</a>
          </li>
          <li class="nav-item dropdown mega_menu">
            <a class="nav-link dropdown-toggle" href="/portfolio" role="button" aria-haspopup="true"
              aria-expanded="false">
              Portfolio
            </a>
          </li>
          <li class="nav-item dropdown mega_menu">
            <a class="nav-link dropdown-toggle" href="/blog" role="button" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
          </li>
          <li class="nav-item dropdown mega_menu">
            <a class="nav-link dropdown-toggle" href="/faq" role="button" aria-haspopup="true" aria-expanded="false">
              FAQ
            </a>
          </li>
        </ul>
        <a class="btn_get btn_get_radious Cus_seven" href="/login">Login</a>
      </div>
    </div>
  </nav>
</header>

<section class="app_banner_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="app_banner_contentmt mt_40">
          <h2 class="f_p f_700 f_size_50 w_color mb_20 wow slideInLeft" data-wow-delay="0.5s">SOFTWARE <br>CREATIVE
            AGENCY</h2>
          <p class="f_400 f_size_18 l_height30 w_color wow slideInLeft" data-wow-delay="0.7s">Why I say old chap that
            is
            spiffing off his nut arse pear shaped<br> plastered Jeffrey bodge barney some dodgy.!!</p>
          <a href="/signup" class="btn_hover mt_30 app_btn wow bounceInUp" data-wow-delay="0.7s">Sign Up</a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="app_img">
          <img class="app_screen one wow fadeInDown" src="../../assets/images/01.png" alt="">
          <img class="app_screen two wow fadeInDown" src="../../assets/images/03.png" alt="">
          <img class="app_screen three wow fadeInDown" src="../../assets/images/02.png" alt="">
          <img class="mobile" src="../../assets/images/app.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="app_featured_area">
  <div class="container">
    <div class="row flex-row-reverse app_feature_info">
      <div class="col-lg-6">
        <div class="app_fetured_item wow bounceInRight" data-wow-delay="0.4s">
          <div class="app_item item_one" data-parallax='{"x": 0, "y": 50}'>
            <i class="ti-face-smile f_size_40 w_color"></i>
            <h6 class="f_p f_400 f_size_16 w_color l_height45">Price</h6>
          </div>
          <div class="app_item item_two" data-parallax='{"x": 0, "y": -30}'>
            <i class="ti-receipt f_size_40 w_color"></i>
            <h6 class="f_p f_400 f_size_16 w_color l_height45">High quality</h6>
          </div>
          <div class="app_item item_three" data-parallax='{"x": 50, "y": 10}'>
            <i class="ti-face-smile f_size_40 w_color"></i>
            <h6 class="f_p f_400 f_size_16 w_color l_height45">Advanced analytics</h6>
          </div>
          <div class="app_item item_four" data-parallax='{"x": -20, "y": 50}'>
            <i class="ti-tablet f_size_40 w_color"></i>
            <h6 class="f_p f_400 f_size_16 w_color l_height45">24/7 Support</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="app_featured_content">
          <h2 class="f_p f_size_30 f_700 t_color3 l_height45 pr_70 mb-30 wow fadeInLeft" data-wow-delay="0.3s">Inspired
            design for the digital app landing
          </h2>
          <p class="f_400 wow fadeInLeft" data-wow-delay="0.4s">Bender cobblers chap grub sloshed up the duff I
            fantastic
            owt to do with me at public school,
            James Bond chip shop chancer my lady gormless brilliant the full monty lavatory, buggered loo horse play
            cracking goal butty young delinquent zonked no biggie.!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg_color">
  <div class="container-fluid pl-0 pr-0 wow fadeInUp" data-wow-delay="0.3s">
    <div class="row portfolio_gallery ml-0 mr-0" id="work-portfolio">
      <div class="col-lg-3 portfolio_item br ux p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_1.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_1.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Apple Mobile Mockup</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item fashion web p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_2.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_2.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Interior Design</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item product br p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_3.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_3.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Center Slider</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item ux web p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_4.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_4.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Masonry</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item br ux p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_5.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_5.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Double Exposure</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item product br p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_3.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_3.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Center Slider</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item product br p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_7.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_7.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Center Slider</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item product br p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_8.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_8.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Center Slider</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="experts_team_area sec_pad">
  <div class="container">
    <div class="sec_title text-center mb_70">
      <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20 wow fadeInUp" data-wow-delay="0.3s">THE EXPERTS TEAM
      </h2>
      <p class="f_400 f_size_16 wow fadeInUp" data-wow-delay="0.4s">Why I say old chap that is spiffing barney, nancy
        boy bleeder chimney<br> pot richard
        cheers the little rotter.!</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.5s">
        <div class="ex_team_item">
          <img src="../../assets/images/team/team_5.jpg" alt="">
          <div class="team_content">
            <a href="#">
              <h3 class="f_p f_size_16 f_600 t_color3">Bailey Wonger</h3>
            </a>
            <h5>Sumo founder</h5>
          </div>
          <div class="hover_content">
            <div class="n_hover_content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
              <div class="br"></div>
              <a href="#">
                <h3 class="f_p f_size_16 f_600 w_color">Bailey Wonger</h3>
              </a>
              <h5>Sumo founder</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.3s">
        <div class="ex_team_item">
          <img src="../../assets/images/team/team_6.jpg" alt="">
          <div class="team_content">
            <a href="#">
              <h3 class="f_p f_size_16 f_600 t_color3">Giles Posture</h3>
            </a>
            <h5>App designer</h5>
          </div>
          <div class="hover_content">
            <div class="n_hover_content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
              <div class="br"></div>
              <a href="#">
                <h3 class="f_p f_size_16 f_600 w_color">Giles Posture</h3>
              </a>
              <h5>App designer</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInRight" data-wow-delay="0.3s">
        <div class="ex_team_item">
          <img src="../../assets/images/team/team_7.jpg" alt="">
          <div class="team_content">
            <a href="#">
              <h3 class="f_p f_size_16 f_600 t_color3">Rodney Artichoke</h3>
            </a>
            <h5>UI/UX designer</h5>
          </div>
          <div class="hover_content">
            <div class="n_hover_content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
              <div class="br"></div>
              <a href="#">
                <h3 class="f_p f_size_16 f_600 w_color">Rodney Artichoke</h3>
              </a>
              <h5>UI/UX designer</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6  wow fadeInRight" data-wow-delay="0.5s">
        <div class="ex_team_item">
          <img src="../../assets/images/team/team_8.jpg" alt="">
          <div class="team_content">
            <a href="#">
              <h3 class="f_p f_size_16 f_600 t_color3">Jackson Pot</h3>
            </a>
            <h5>Marketer</h5>
          </div>
          <div class="hover_content">
            <div class="n_hover_content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
              <div class="br"></div>
              <a href="#">
                <h3 class="f_p f_size_16 f_600 w_color">Jackson Pot</h3>
              </a>
              <h5>Marketer</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="seo_fact_area sec_pad">
  <div class="home_bubble">
    <div class="bubble b_one"></div>
    <div class="bubble b_three"></div>
    <div class="bubble b_four"></div>
    <div class="bubble b_six"></div>
    <div class="triangle b_eight" data-parallax='{"x": 120, "y": -10}'><img src="../../assets/images/triangle_one.png"
        alt=""></div>
  </div>
  <div class="container">
    <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
      <h2>Over 1200+<br> completed work & Still counting.</h2>
    </div>
    <div class="seo_fact_info">
      <div class="seo_fact_item">
        <div class="text">
          <div class="counter one">693</div>
          <p>Happy Clients</p>
        </div>
      </div>
      <div class="seo_fact_item">
        <div class="text">
          <div class="counter two">276</div>
          <p>Projects</p>
        </div>
      </div>
      <div class="seo_fact_item">
        <div class="text">
          <div class="counter three">102</div>
          <p>SEO Winners</p>
        </div>
      </div>
      <div class="seo_fact_item last">
        <div class="text">
          <div class="counter four">93</div>
          <p>Experience</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="testimonial_area sec_pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-center">
        <div class="testimonial_title">
          <div class="seo_sec_title wow fadeInUp" data-wow-delay="0.3s">
            <h2>Check testimonials for<br> our satisfied clients</h2>
            <p>That ummm I'm telling Why say bleeder smashing lemon squeezy tosser, cheesed off dropped.!</p>
          </div>
        </div>

      </div>
      <div class="col-lg-6 offset-lg-1 wow bounceInRight" data-wow-delay="0.5s">
        <div class="stratup_testimonial_info d-flex align-items-center">
          <div class="testimonial_slider_four owl-carousel">
            <div class="item">
              <div class="author_img">
                <img src="../../assets/images/member/member_01.jpg" alt="">
              </div>
              <p>He nicked it hanky panky Eaton naff it's your round quaint cheeky cheers, tomfoolery bonnet posh blimey
                what a plonker vagabond, zonked Elizabeth give us a bell.?</p>
              <h5>Phillip Anthropy</h5>
              <h6>UI/UX designer</h6>
            </div>
            <div class="item">
              <div class="author_img">
                <img src="../../assets/images/member/member_01.jpg" alt="">
              </div>
              <p>He nicked it hanky panky Eaton naff it's your round quaint cheeky cheers, tomfoolery bonnet posh blimey
                what a plonker vagabond, zonked Elizabeth give us a bell.?</p>
              <h5>Phillip Anthropy</h5>
              <h6>UI/UX designer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="contact_info_area sec_pad bg_color">
  <div class="container">
    <div class="sec_title text-center mb_70">
      <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20  wow fadeInUp" data-wow-delay="0.3s">GET IN TOUCH</h2>
      <p class="f_400 f_size_16 wow fadeInUp" data-wow-delay="0.4s">If you require any further information, feel free
        to contact us..</p>
    </div>
    <div class="contact_form wow fadeInUp" data-wow-delay="0.5s">
      <form action="https://droitthemes.com/html/saasland/contact_process.php" class="contact_form_box" method="post"
        id="contactForm" novalidate="novalidate">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text_box">
              <input type="text" id="name" name="name" placeholder="Your Name">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text_box">
              <input type="text" name="email" id="email" placeholder="Your Email">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group text_box">
              <input type="text" id="subject" name="subject" placeholder="Subject">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group text_box">
              <textarea name="message" id="message" cols="30" rows="10"
                placeholder="Enter Your Message . . ."></textarea>
            </div>
          </div>
        </div>
        <button type="submit" class="btn_three">Send Message</button>
      </form>
      <div id="success">Your message succesfully sent!</div>
      <div id="error">Opps! There is something wrong. Please try again</div>
    </div>
  </div>
</section>

<section class="s_pricing_area sec_pad">
  <div class="container custom_container">
    <div class="sec_title text-center mb_70">
      <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Unlimited Courses and Students on all Plans</h2>
      <p class="f_400 f_size_18 l_height34">Why I say old chap that is spiffing lavatory chip shop gosh off his nut,
        smashing boot<br> are you taking the piss posh loo brilliant matie boy.!</p>
    </div>
    <div class="row mb_30">
      <div class="col-lg-4 col-sm-6">
        <div class="s_pricing-item">
          <img class="shape_img" src="img/saas/price_line1.png" alt="">
          <div class="s_price_icon p_icon1">
            <i class="flaticon-mortarboard"></i>
          </div>
          <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">Education</h5>
          <p class="f_p f_400">Create your first online course</p>
          <div class="price f_size_40 f_p f_700">$49.00<sub class="f_400 f_size_16">/ mo</sub></div>
          <ul class="list-unstyled mt_30">
            <li>Product Recommendations</li>
            <li>Abandoned Cart</li>
            <li>Facebook & Instagram Ads</li>
            <li>Order Notifications</li>
            <li>Landing Pages</li>
          </ul>
          <a href="#" class="price_btn btn_hover mt_30">Choose This Plan</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="s_pricing-item">
          <img class="shape_img" src="img/saas/price_line2.png" alt="">
          <div class="tag_label">Popular</div>
          <div class="s_price_icon p_icon2">
            <i class="flaticon-lightbulb"></i>
          </div>
          <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">Professional</h5>
          <p class="f_p f_400">Our most popular plan</p>
          <div class="price f_size_40 f_p f_700">$49.00<sub class="f_400 f_size_16">/ mo</sub></div>
          <ul class="list-unstyled mt_30">
            <li>Product Recommendations</li>
            <li>Abandoned Cart</li>
            <li>Facebook & Instagram Ads</li>
            <li>Order Notifications</li>
            <li>Landing Pages</li>
          </ul>
          <a href="#" class="price_btn btn_hover mt_30">Choose This Plan</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="s_pricing-item">
          <img class="shape_img" src="img/saas/price_line3.png" alt="">
          <div class="s_price_icon p_icon3">
            <i class="flaticon-target"></i>
          </div>
          <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">Business</h5>
          <p class="f_p f_400">Experience thebest of lorem</p>
          <div class="price f_size_40 f_p f_700">$99.00<sub class="f_400 f_size_16">/ mo</sub></div>
          <ul class="list-unstyled mt_30">
            <li>Product Recommendations</li>
            <li>Abandoned Cart</li>
            <li>Facebook & Instagram Ads</li>
            <li>Order Notifications</li>
            <li>Landing Pages</li>
          </ul>
          <a href="#" class="price_btn btn_hover mt_30">Choose This Plan</a>
        </div>
      </div>
    </div>
  </div>
</section>