<header class="header_area header_area_three">
  <nav class="navbar navbar-expand-lg menu_one menu_four">
    <div class="container">
      <a class="navbar-brand" href="/home"><img src="../assets/images/logo_black.png" alt=""></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="menu_toggle">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="hamburger-cross">
            <span></span>
            <span></span>
          </span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav menu ml-auto mr-auto">
          <li class="nav-item dropdown submenu mega_menu mega_menu_two ">
            <a class="nav-link dropdown-toggle" href="/home" role="button" aria-haspopup="true" aria-expanded="false">
              Home
            </a>
          </li>
          <li class="dropdown submenu nav-item"><a title="Pages" class="dropdown-toggle nav-link" role="button"
              aria-haspopup="true" aria-expanded="false" href="/product">Product</a>
          </li>
          <li class="nav-item dropdown submenu mega_menu active">
            <a class="nav-link dropdown-toggle" href="/portfolio" role="button" aria-haspopup="true"
              aria-expanded="false">
              Portfolio
            </a>
          </li>
          <li class="nav-item dropdown submenu mega_menu">
            <a class="nav-link dropdown-toggle" href="/blog" role="button" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
          </li>
          <li class="nav-item dropdown submenu mega_menu">
            <a class="nav-link dropdown-toggle" href="/faq" role="button" aria-haspopup="true" aria-expanded="false">
              FAQ
            </a>
          </li>
        </ul>
        <a class="btn_get btn_get_radious " href="/login">Login</a>
      </div>
    </div>
  </nav>
</header>

<section class="bg_color portfolio_fullwidth_area">
  <div class="container-fluid pl-0 pr-0 wow fadeInUp" data-wow-delay="0.3s">
    <div id="portfolio_filter" class="portfolio_filter mb_50">
      <div data-filter="*" class="work_portfolio_item active">See All</div>
      <div data-filter=".br" class="work_portfolio_item">Branding</div>
      <div data-filter=".web" class="work_portfolio_item">Web Design</div>
      <div data-filter=".fashion" class="work_portfolio_item">Fashion</div>
      <div data-filter=".ux" class="work_portfolio_item">UI/UX</div>
      <div data-filter=".product" class="work_portfolio_item">Product</div>
    </div>

    <div class="row portfolio_gallery ml-0 mr-0" id="work-portfolio">
      <div class="col-lg-3 portfolio_item br ux p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_1.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_1.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Apple Mobile Mockup</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item fashion web p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_2.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_2.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Interior Design</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item product br p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_3.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_3.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Center Slider</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item ux web p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_4.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_4.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Masonry</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item br ux p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_5.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_5.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Double Exposure</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item product br p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_3.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_3.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Center Slider</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item product br p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_7.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_7.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Center Slider</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 portfolio_item product br p0">
        <div class="portfolio_img">
          <img src="../../assets/images/portfolio/full_8.jpg" alt="">
          <div class="hover_content">
            <a href="../../assets/images/portfolio/full_8.jpg" class="img_popup leaf"><i class="ti-plus"></i></a>
            <div class="portfolio-description leaf">
              <a href="work-default.html" class="portfolio-title">
                <h3 class="f_500 f_size_20 f_p">Portfolio Center Slider</h3>
              </a>
              <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>