<header class="header_area header_area_three">
  <nav class="navbar navbar-expand-lg menu_one menu_four">
    <div class="container">
      <a class="navbar-brand" href="/home"><img src="../assets/images/logo_black.png" alt=""></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="menu_toggle">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="hamburger-cross">
            <span></span>
            <span></span>
          </span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav menu ml-auto mr-auto">
          <li class="nav-item dropdown submenu mega_menu mega_menu_two ">
            <a class="nav-link dropdown-toggle" href="/home" role="button" aria-haspopup="true" aria-expanded="false">
              Home
            </a>
          </li>
          <li class="dropdown submenu nav-item"><a title="Pages" class="dropdown-toggle nav-link" role="button"
              aria-haspopup="true" aria-expanded="false" href="/product">Product</a>
          </li>
          <li class="nav-item dropdown submenu mega_menu ">
            <a class="nav-link dropdown-toggle" href="/portfolio" role="button" aria-haspopup="true"
              aria-expanded="false">
              Portfolio
            </a>
          </li>
          <li class="nav-item dropdown submenu mega_menu active">
            <a class="nav-link dropdown-toggle" href="/blog" role="button" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
          </li>
          <li class="nav-item dropdown submenu mega_menu">
            <a class="nav-link dropdown-toggle" href="/faq" role="button" aria-haspopup="true" aria-expanded="false">
              FAQ
            </a>
          </li>
        </ul>
        <a class="btn_get btn_get_radious " href="/login">Login</a>
      </div>
    </div>
  </nav>
</header>

<section class="blog_area_two sec_pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog_grid_info">
        <div class="row">
          <div class="col-lg-6">
            <div class="blog_list_item blog_list_item_two">
              <a href="#" class="post_date">
                <h2>14 <span>Jan</span></h2>
              </a>
              <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_1.jpg" alt=""></a>
              <div class="blog_content">
                <a href="#">
                  <h5 class="blog_title">Why I say old chap that is.</h5>
                </a>
                <p>Only a quid bobby brilliant bugger Jeffrey owt to do with me lurgy blimey.!</p>
                <div class="post-info-bottom">
                  <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                  <a class="post-info-comments" href="#">
                    <i class="icon_comment_alt" aria-hidden="true"></i>
                    <span>3 Comments</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog_list_item blog_list_item_two">
              <a href="#" class="post_date">
                <h2>14 <span>Jan</span></h2>
              </a>
              <div class="video_post">
                <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_2.jpg" alt=""></a>
                <a class="popup-youtube video_icon" href="https://www.youtube.com/watch?v=sU3FkzUKHXU"><i
                    class="arrow_triangle-right"></i></a>
              </div>
              <div class="blog_content">
                <a href="#">
                  <h5 class="blog_title">Why I say old chap that is.</h5>
                </a>
                <p>Only a quid bobby brilliant bugger Jeffrey owt to do with me lurgy blimey.!</p>
                <div class="post-info-bottom">
                  <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog_list_item blog_list_item_two">
              <a href="#" class="post_date">
                <h2>22 <span>Mar</span></h2>
              </a>
              <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_3.jpg" alt=""></a>
              <div class="blog_content">
                <a href="#">
                  <h5 class="blog_title">Oxford bum bag gutted.</h5>
                </a>
                <p>Only a quid bobby brilliant bugger Jeffrey owt to do with me lurgy blimey.!</p>
                <div class="post-info-bottom">
                  <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                  <a class="post-info-comments" href="#">
                    <i class="icon_comment_alt" aria-hidden="true"></i>
                    <span>3 Comments</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog_list_item blog_list_item_two">
              <a href="#" class="post_date">
                <h2>14 <span>Feb</span></h2>
              </a>
              <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_4.jpg" alt=""></a>
              <div class="blog_content">
                <a href="#">
                  <h5 class="blog_title">Victoria sponge horse play.</h5>
                </a>
                <p>Only a quid bobby brilliant bugger Jeffrey owt to do with me lurgy blimey.!</p>
                <div class="post-info-bottom">
                  <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                  <a class="post-info-comments" href="#">
                    <i class="icon_comment_alt" aria-hidden="true"></i>
                    <span>3 Comments</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog_list_item blog_list_item_two">
              <a href="#" class="post_date">
                <h2>10 <span>Apr</span></h2>
              </a>
              <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_5.jpg" alt=""></a>
              <div class="blog_content">
                <a href="#">
                  <h5 class="blog_title">Kell at public school chee.</h5>
                </a>
                <p>Only a quid bobby brilliant bugger Jeffrey owt to do with me lurgy blimey.!</p>
                <div class="post-info-bottom">
                  <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                  <a class="post-info-comments" href="#">
                    <i class="icon_comment_alt" aria-hidden="true"></i>
                    <span>3 Comments</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog_list_item blog_list_item_two">
              <a href="#" class="post_date">
                <h2>14 <span>May</span></h2>
              </a>
              <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_6.jpg" alt=""></a>
              <div class="blog_content">
                <a href="#">
                  <h5 class="blog_title">Queen's English it's all gon.</h5>
                </a>
                <p>Only a quid bobby brilliant bugger Jeffrey owt to do with me lurgy blimey.!</p>
                <div class="post-info-bottom">
                  <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                  <a class="post-info-comments" href="#">
                    <i class="icon_comment_alt" aria-hidden="true"></i>
                    <span>3 Comments</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog_list_item blog_list_item_two">
              <a href="#" class="post_date">
                <h2>10 <span>Sep</span></h2>
              </a>
              <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_7.jpg" alt=""></a>
              <div class="blog_content">
                <a href="#">
                  <h5 class="blog_title">Harry spend a penny it's all.</h5>
                </a>
                <p>Only a quid bobby brilliant bugger Jeffrey owt to do with me lurgy blimey.!</p>
                <div class="post-info-bottom">
                  <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                  <a class="post-info-comments" href="#">
                    <i class="icon_comment_alt" aria-hidden="true"></i>
                    <span>3 Comments</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog_list_item blog_list_item_two">
              <a href="#" class="post_date">
                <h2>12 <span>Dec</span></h2>
              </a>
              <a href="/blogdetail"><img class="img-fluid" src="../../assets/images/blog/blog_grid_8.jpg" alt=""></a>
              <div class="blog_content">
                <a href="#">
                  <h5 class="blog_title">Why I say old chap that is.</h5>
                </a>
                <p>Only a quid bobby brilliant bugger Jeffrey owt to do with me lurgy blimey.!</p>
                <div class="post-info-bottom">
                  <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                  <a class="post-info-comments" href="#">
                    <i class="icon_comment_alt" aria-hidden="true"></i>
                    <span>3 Comments</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="list-unstyled page-numbers shop_page_number text-left mt_30">
          <li><span aria-current="page" class="page-numbers current">1</span></li>
          <li><a class="page-numbers" href="#">2</a></li>
          <li><a class="next page-numbers" href="#"><i class="ti-arrow-right"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <div class="blog-sidebar">
          <div class="widget sidebar_widget search_widget_two">
            <form action="#" class="search-form input-group">
              <input type="search" class="form-control widget_input" placeholder="Search">
              <button type="submit"><i class="ti-search"></i></button>
            </form>
          </div>
          <div class="widget sidebar_widget recent_post_widget_two mt_60">
            <h3 class="widget_title_two">Recent posts</h3>
            <div class="media post_item">
              <img src="../../assets/images/blog/post1.jpg" alt="">
              <div class="media-body">
                <a href="#">
                  <h3>Fast App development</h3>
                </a>
                <a href="#" class="entry_post_info">March 14, 2019</a>
              </div>
            </div>
            <div class="media post_item">
              <img src="../../assets/images/blog/post1.jpg" alt="">
              <div class="media-body">
                <a href="#">
                  <h3>Proin gravi nibh velit</h3>
                </a>
                <a href="#" class="entry_post_info">March 14, 2019</a>
              </div>
            </div>
            <div class="media post_item">
              <img src="../../assets/images/blog/post1.jpg" alt="">
              <div class="media-body">
                <a href="#">
                  <h3>Massive Integrations</h3>
                </a>
                <a href="#" class="entry_post_info">March 14, 2019</a>
              </div>
            </div>
          </div>
          <div class="widget sidebar_widget categorie_widget_two mt_60">
            <h3 class="widget_title_two">Categories</h3>
            <ul class="list-unstyled">
              <li> <a href="#"><span>Web Design</span><em>(54)</em></a> </li>
              <li> <a href="#"><span>Web Development</span><em>(83)</em></a> </li>
              <li> <a href="#"><span>Logo Design</span><em>(96)</em></a> </li>
              <li> <a href="#"><span>SEO</span><em>(38)</em></a> </li>
              <li> <a href="#"><span>Uncategorized</span><em>(44)</em></a> </li>
            </ul>
          </div>
          <div class="widget sidebar_widget tag_widget_two mt_60">
            <h3 class="widget_title_two">Tags</h3>
            <div class="post-tags">
              <a href="#">SaasLand</a>
              <a href="#">Web Design</a>
              <a href="#">Saas</a>
              <a href="#">Cooling System</a>
              <a href="#">Corporate</a>
              <a href="#">Software</a>
              <a href="#">Landing</a>
              <a href="#">Wheels</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>