<div class="saasland_container">
  <div class="saasland_col_6 saasland_col_content">
    <div class="container_wrap">
      <div class="saasland_log">
        <a href="#"><img src="../../assets/images/logo_black.png" srcset="img/logo2x.png 2x" alt=""></a>
      </div>
      <div class="saasland_content">
        <h2>We're Coming Soon..</h2>
        <h1 class="f_robot_c f_50 f_700">We're working in<br> our new website,<br> stay tuned!</h1>
        <a href="#" class="btn btn_hover agency_banner_btn">Notify Us</a>
      </div>
      <div class="saasland_bottom">
        Copyright © 2019 Bemics.com
      </div>
    </div>
  </div>
  <div class="saasland_col_6 saasland_col_screen">
    <div class="saasland_bg"></div>
    <div id="clockdiv" class="clock">
      <div class="timer">
        <span class="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div class="timer">
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div class="timer">
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div class="timer">
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
    <div class="saasland_social">
      <p>Stay in Touch :</p>
      <ul class="list_style">
        <li><a href="#"><i class="social_facebook"></i></a></li>
        <li><a href="#"><i class="social_twitter"></i></a></li>
        <li><a href="#"><i class="social_linkedin"></i></a></li>
        <li><a href="#"><i class="social_pinterest"></i></a></li>
        <li><a href="#"><i class="social_youtube"></i></a></li>
      </ul>
    </div>
  </div>
</div>